.wrapper {
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    gap: 10rem;

    width: 100%;
    height: 100vh;
}
.content {
    width: 100%;
    height: calc(100vh - 70px);

    overflow-y: auto;
    scroll-behavior: smooth;
}
.content::-webkit-scrollbar {
    width: 10px;

    background: white;
}
.content::-webkit-scrollbar-thumb {
    background: var(--color-accent);
}

.invisibleAnchor {
    width: 100%;
    height: 0;

    pointer-events: none;
    user-select: none;

    z-index: 999999999999;
}



@media (max-width: 980px) {
    .content {
        scrollbar-width: none;
    }
    .content::-webkit-scrollbar {
        display: none;
    }
}