.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    padding: 100px 0;

    max-width: 900px;
    height: 100%;
}

section:nth-child(2n + 1) {
    background-color: #f1f1f1;
}

@media (max-width: 980px) {
    section:target {
        scroll-margin-top: 60px;
    }
    .container {
        padding: 40px 20px;
    }
}