* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

img, a, span {
    user-select: none;
}

#root {
    --color-accent: #816cd8;
    --color-accent-darker: #4834a1;
    --font-color-gray: #2d2e33;

    width: 100%;
    height: 100%;
}